.line_vertical {
    border-right: 2px solid var(--avonni-relationship-graph-line-color, #dddbda);
    margin-top: var(--lwc-spacingLarge, 1.5rem);
}
.line_horizontal {
    border-bottom: 2px solid
        var(--avonni-relationship-graph-line-color, #dddbda);
    margin: var(--lwc-spacingLarge, 1.5rem) 10rem;
}
.line_active {
    border-color: var(--avonni-relationship-graph-selected-line-color, #0070d2);
}
