.avonni-date-time-picker__table {
    display: flex;
}

.avonni-date-time-picker__label {
    float: none;
}

.avonni-date-time-picker__day {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
}

.avonni-date-time-picker__day-label {
    padding: var(--lwc-spacingMedium, 1rem);
    text-transform: uppercase;
    color: var(--lwc-colorTextPlaceholder, #706e6b);
}

.avonni-date-time-picker__day-label[data-today='true'] {
    color: var(--lwc-colorTextBrand, #1589ee);
}

.avonni-date-time-picker__day-label,
.avonni-date-time-picker__time {
    flex: 1 1 auto;
}

.avonni-date-time-picker__time {
    padding: 2px;
}

.avonni-date-time-picker__time-button {
    border: 1px solid var(--lwc-colorBorder, #dddbda);
    width: 100%;
    padding: var(--lwc-spacingMedium, 1rem);
    background-color: #fff;
}

.avonni-date-time-picker__time-button:disabled {
    background-color: var(--lwc-colorBackground, #f3f2f2);
    color: var(--lwc-colorTextPlaceholder, #706e6b);
}

.avonni-date-time-picker__time-button[aria-selected='true'] {
    border-color: #0070d2;
    background-color: #d8edff;
}
