:host() {
    --speed: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    z-index: 1;
    background: #ffffff;
    transform-style: preserve-3d;
    transition-duration: calc(var(--speed) * 1ms);
    pointer-events: none;
}
