.group {
    width: var(--lwc-sizeMedium, 20rem);
}
.group-title {
    font-size: 0.875rem;
}

/* Themes --- */
.avonni-theme_inverse {
    color: #fff;
    background-color: var(--lwc-colorBackgroundInverse, #061c3f);
    border-color: var(--lwc-colorBackgroundInverse, #061c3f);
}
.avonni-theme_inverse a {
    color: #fff;
    text-decoration: underline;
}
.action-button_shade.slds-button_neutral {
    background-color: transparent;
}

/* Lines */
.group_horizontal::before {
    content: '';
    height: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #dddbda);
    width: calc(2rem + 2px);
    position: absolute;
    left: calc(-2rem - 2px);
    top: calc(1.5rem - 2px);
}
.group_vertical::before {
    content: '';
    width: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #dddbda);
    height: calc(1.5rem + 2px);
    position: absolute;
    left: 10rem;
    top: calc(-1.5rem - 2px);
}
.group_vertical.group_selected::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: calc(-1.5rem - 2px);
    top: 2rem;
    left: 10rem;
    width: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #dddbda);
}
.group_active-child::before,
.group_vertical.group_selected.group_active-parent::after {
    background-color: var(
        --avonni-relationship-graph-selected-line-color,
        #0070d2
    );
}

/* A focus ring will be shown around the group only if: */
/* - the user is navigating through the keyboard */
/* - the browser supports focus-visible */
.group:focus {
    outline: none;
}
.group:focus-visible {
    outline: 1px auto Highlight;
    outline: 1px auto -webkit-focus-ring-color;
}
