.avonni-metric__wrapper {
    background-color: var(--avonni-primitive-metric-color-background);
    border-radius: var(--avonni-primitive-metric-radius);
    padding: var(--avonni-primitive-metric-spacing-block)
        var(--avonni-primitive-metric-spacing-inline);
}

.avonni-metric__icon {
    /* Adapt the trend icon to the height of the text */
    display: flex;
    width: var(--avonni-primitive-metric-value-font-size);
    height: var(--avonni-primitive-metric-value-font-size);
    align-items: center;
    color: var(--avonni-primitive-metric-value-text-color);
}

.avonni-metric__prefix {
    font-size: var(--avonni-primitive-metric-prefix-font-size);
    font-style: var(--avonni-primitive-metric-prefix-font-style);
    font-weight: var(--avonni-primitive-metric-prefix-font-weight);
    color: var(--avonni-primitive-metric-prefix-text-color);
}

.avonni-metric__suffix {
    font-size: var(--avonni-primitive-metric-suffix-font-size);
    font-style: var(--avonni-primitive-metric-suffix-font-style);
    font-weight: var(--avonni-primitive-metric-suffix-font-weight);
    color: var(--avonni-primitive-metric-suffix-text-color);
}

.avonni-metric__value {
    font-size: var(--avonni-primitive-metric-value-font-size);
    font-style: var(--avonni-primitive-metric-value-font-style);
    font-weight: var(--avonni-primitive-metric-value-font-weight);
    line-height: var(--avonni-primitive-metric-value-line-height);
    color: var(--avonni-primitive-metric-value-text-color);
}
