.avonni-carousel__panel {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.avonni-carousel__content {
    height: 8.5rem;
}

.avonni-carousel__nav-button {
    display: block;
}

.avonni-carousel__autoscroll-button {
    position: absolute;
    bottom: 0;
    left: var(--lwc-spacingMedium, 1rem);
}
