.avonni-avatar-group__avatar {
    display: inline-block;
    position: relative;
    transition: transform 0.1s ease-out 0s;
    --avonni-c-avatar-color-border: #fff;
    --avonni-c-avatar-sizing-border: 1px;
    cursor: pointer;
}

.avonni-avatar-group_x-large {
    width: 4.5rem;
    height: 4.5rem;
}
.avonni-avatar-group_x-large .slds-avatar-grouped__primary {
    width: 58px;
    height: 58px;
}
.avonni-avatar-group_x-large .slds-avatar-grouped__secondary {
    width: 35px;
    height: 35px;
}
.avonni-avatar-group_xx-large {
    width: 5.5rem;
    height: 5.5rem;
}
.avonni-avatar-group_xx-large .slds-avatar-grouped__primary {
    width: 72px;
    height: 72px;
}
.avonni-avatar-group_xx-large .slds-avatar-grouped__secondary {
    width: 43px;
    height: 43px;
}

.avonni-avatar-group_in-line.avonni-avatar-x-small {
    margin-left: -4px;
}

.avonni-avatar-group_in-line.avonni-avatar-small {
    margin-left: -6px;
}

.avonni-avatar-group_in-line.avonni-avatar-medium {
    margin-left: -8px;
}

.avonni-avatar-group_in-line.avonni-avatar-large {
    margin-left: -10px;
}

.avonni-avatar-group_in-line.avonni-avatar-x-large {
    margin-left: -12px;
}

.avonni-avatar-group_in-line.avonni-avatar-xx-large {
    margin-left: -14px;
}

.avonni-avatar-group__avatar-container:first-child:not(.avonni-avatar-group__plus) {
    margin-left: 0px;
}

/* List layouts (visible or in hidden dropdown) --- */
.avonni-avatar-group__avatar-container.slds-show .avonni-avatar-group__avatar {
    display: block;
}
.avonni-avatar-group__avatar-container.slds-show,
.avonni-avatar-group__hidden-avatar-container {
    padding: 0.5rem 0.75rem;
}
.avonni-avatar-group__avatar-container.slds-show:hover,
.avonni-avatar-group__hidden-avatar-container:hover {
    background-color: rgb(240, 240, 240);
}
.avonni-avatar-group__hidden-avatar-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.avonni-avatar-group__hidden-avatar-container p {
    padding-left: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
}
.slds-dropdown {
    overflow-y: auto;
    max-height: 200px;
}
.avonni-avatar-group__list-button + .slds-dropdown {
    margin-left: 0.75rem;
}
/* --- */

/* Outline --- */
.slds-avatar:focus,
.avonni-avatar-group__avatar:focus,
.slds-avatar-grouped:focus {
    outline: none;
    box-shadow: rgb(53, 125, 219) 0 0 0 2px !important;
}
.avonni-avatar-group__avatar .slds-avatar-grouped {
    border-radius: var(--lwc-borderRadiusMedium, 0.3rem);
}
.avonni-avatar-group_circle:not(.slds-show) .avonni-avatar-group__avatar,
.avonni-avatar-group_circle .slds-avatar-grouped {
    border-radius: var(--lwc-BorderRadiusCircle, 50%);
}
/* --- */

.avonni-avatar-group__plus {
    color: #fff;
}
