.avonni-scoped-notification_warning {
    background-color: #fffae6;
}

.avonni-scoped-notification_success {
    background-color: #e3fcef;
}

.avonni-scoped-notification_error {
    background-color: #ffebe6;
}
