.item {
    cursor: pointer;
}

.avonni-theme_inverse {
    color: #fff;
    background-color: var(--lwc-colorBackgroundInverse, #061c3f);
}
.avonni-theme_inverse a {
    color: #fff;
    text-decoration: underline;
}

/* Corner triangle */
.item_has-children::after {
    content: '';
    border: 0 solid transparent;
    border-left-width: 15px;
    border-bottom: 15px solid
        var(--avonni-c-relationship-graph-children-indicator-color, #007add);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Selected item horizontal line */
.item_horizontal.item_has-groups.item_is-selected::before {
    content: '';
    height: 2px;
    background-color: var(--avonni-c-relationship-graph-line-color, #dddbda);
    position: absolute;
    width: 50px;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.item_is-active {
    border-color: var(
        --avonni-c-relationship-graph-selected-line-color,
        #0070d2
    );
}

.item_horizontal.item_has-groups.item_is-active::before {
    background-color: var(
        --avonni-c-relationship-graph-selected-line-color,
        #0070d2
    );
}
