.avonni-combobox__label {
    color: var(--avonni-combobox-label-text-color, #3e3e3c);
    font-size: var(--avonni-combobox-label-font-size, 0.75rem);
    font-weight: var(--avonni-combobox-label-font-weight, 400);
    font-style: var(--avonni-combobox-label-font-style, normal);
}

.avonni-combobox__main-combobox_scopes {
    flex: 1 1 auto;
}
