.avonni-progress-bar-value_bottom-right {
    position: absolute;
    z-index: 1;
}

.avonni-progress-bar-value_bottom-left {
    position: absolute;
    right: 0;
    z-index: 1;
}

.avonni-progress-bar-horizontal-size_x-small {
    width: var(--lwc-sizeXSmall, 12rem);
}

.avonni-progress-bar-horizontal-size_small {
    width: var(--lwc-sizeXSmall, 15rem);
}

.avonni-progress-bar-horizontal-size_medium {
    width: var(--lwc-sizeMedium, 20rem);
}

.avonni-progress-bar-horizontal-size_large {
    width: var(--lwc-sizeLarge, 25rem);
}

.avonni-progress-bar_value {
    font-weight: var(--lwc-fontWeightBold, 700);
}
