@media (max-width: 480px) {
    .avonni-data-page-header-mobile-styling {
        width: 100%;
    }

    .avonni-data-page-header-mobile-column {
        flex-direction: column;
    }

    .avonni-data-page-header-mobile:first-child {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
        border: none;
    }

    .avonni-data-page-header-mobile {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-top: solid 0.5px lightgray;
    }
}
